



.form-horizontal
	= form_for [@group, @discussion] do |f|
		.control-group
			= f.label :title, :class=>"control-label"
			.controls
				= f.text_field :title, :placeholder => "The title of the discussion"
		.control-group
			= f.label :link , :class=>"control-label"
			.controls
				= f.text_field :link, :placeholder => "The URL you want to link to "
		.control-group	
			= f.label :question , :class=>"control-label"
			.controls
				= f.text_field :question, :placeholder => "What do you do want to discuss? Questions you may have?"
		.control-group
			= f.label :description , :class=>"control-label"
				
			.controls
				= render 'layouts/wysihtml5'
				= f.text_area :description, :placeholder => "Description", :id => 'wysihtml5-textarea'
				= f.hidden_field :user_id, :value => current_user.id
				%br
				%br
				= f.submit :class => "sign-up-button"