
.form-horizontal
	= form_for [@group, @discussion] do |f|
		.control-group
			= f.label :title, :class=>"control-label"
			.controls
				= f.text_field :title, :placeholder => "The title of the discussion"
		.control-group
			= f.label :link , :class=>"control-label"
			.controls
				= f.text_field :link, :placeholder => "The URL you want to link to "
		.control-group
			= f.label :description , :class=>"control-label"
			.controls
				= f.text_area :description, :placeholder => "Description", :class=>"wysihtml5"
				= f.hidden_field :user_id, :value => current_user.id
				%br
				%br
				= f.submit :class => "sign-up-button" 


