.dashboard
	.group
		.show_discussion
			%h4= @discussion.title
			%p= @discussion.link
			%p= @discussion.description
		
		%hr
		.comments
			Discuss this message:
			%br
			%br
			= render partial: 'comments/comment', collection: @comments, as: :comment
			%br
			%br
			= render partial: 'comments/form', locals: { comment: @new_comment }


