.dashboard
	
	.row-fluid
		.span7
			.group
				.show_discussion
					.discussion-top-area
						.discussion_heading
							= @discussion.title
						By 
						= @discussion.authors_first_name 
						= @discussion.authors_last_name
						in
						= discussion_group(@discussion.group_id)
						-if @discussion.link != nil
							%br
							=link_to truncate(@discussion.link), @discussion.link
			
					.discussion-text
						%p= simple_format(@discussion.description)
		
				%hr
		.offset1.span4

			.comments
				%br
				%h5 
					=@discussion.question
				= render partial: 'comments/form', locals: { comment: @new_comment }
				= render partial: 'comments/comment', collection: @comments, as: :comment		
