=form_for @article do |f|
	= f.text_field :name
	
	= f.fields_for :articletopics do |f|
		= ff.hidden_field :user_id, :value => current_user.id
		= ff.hidden_field :parent, :value => true
		= ff.hidden_field :article_id, :value => f.id
	=f.submit