.hidden
	%h3(class="main-title-text")= @group.name 


.search-area.hidden
	.row-fluid
		.span8
			= @group.description
		.span4
			.pull-right
				=form_for :test do |f|
					.search-box
						=f.text_field :test, :placeholder => "Search for items"


.test
	- @topics.each do |topic|
		.row-fluid.topic-hub
			.span4.topic-area
				%h4= topic.name
				%p= topic.description 
	
			.span8

				- topic.get_articles.each_slice(4).to_a.each do |group|
					.row-fluid
						- group.each do |article|
							.span3.article-box
								=link_to [@group, article] do  
									%b=article.name
									%p(class="article-box-text")= truncate((article.body),length: 85)

		
				


.row-fluid.hidden
	.span8
		.updates
			%h4
				Discussions
				&nbsp &nbsp &nbsp
				-#link_to "Add a New Discussion", new_group_discussion_path(@group), :class => "yellow-button"
			

	
		.discussions
			-@discussions.each do |discussion|
				= content_tag "div", class: "discussion-unit" do
					%b(class="discussion-title")
						=link_to discussion.title, [@group, discussion]
					\ -
					=link_to simple_format(truncate((strip_tags(discussion.description)), :length => 140)), [@group, discussion]
					.pull-right
						=# discussion.created_at.strftime("%e %b")

		- if can? :manage, :all
			.membership_invite_form
				=form_for :invite, as: :memberships, url: memberships_path(:invite) do |f|
					=f.email_field :email
					=f.hidden_field :group_id, value: params[:id]
					=f.submit "Invite Person"

	.span4
		
		.link-feed-title
			%b Quality Links
				

		.link-feed
			%ul(class="unstyled")
				-@links.each do |link|
					%li
						=link_to link.title, link.link, :target => "_blank"
						.tiny-text
							submitted by
							=full_name(link.user_id)
				=link_to "See all", group_links_path	
		.link-feed-title
			%b Add a link
		
		.link-feed	
			.link-form
				=form_for :link, as: :links, url: links_path(:link) do |f|
					=f.text_field :title, :placeholder => "title"
					=f.text_field :link, :placeholder => "url"
					=f.hidden_field :user_id, value: current_user.id
					=f.hidden_field :group_id, value: params[:id]
					=f.submit "Add Link", :class => "sign-up-button"
				
