.dashboard
	%h4= @group.name 
	%p(class="small-text")= @group.description
	%hr 

.updates
	%h4 Latest Discussions

.discussions
	-@discussions.each do |discussion|
		.discussion-unit
			%b(class="discussion-title")= link_to discussion.title, discussion 
			= link_to discussion.description, discussion
			.pull-right
				= discussion.created_at.strftime("%e %b")

- if can? :manage, :all
	.membership_invite_form
		=simple_form_for :invite, as: :memberships, url: memberships_path(:invite) do |f|
			=f.input :email
			=f.hidden_field :group_id, value: params[:id]
			=f.button :submit, "Invite Person"