-if can? :manage, :group
	
	%ul(class="inline") 
		%li= link_to "Add a topic", new_group_topic_path(params[:id])
		%li= link_to "Add an article", new_group_article_path(params[:id])
	
	.pad-top	

.test
	- @topics.each do |topic|
		.row-fluid.topic-hub
			.span4.topic-area
				%h4= topic.name
				%p= topic.description 
	
			.span8

				- topic.get_articles.each_slice(4).to_a.each do |group|
					.row-fluid
						- group.each do |article|
							.span3.article-box
								=link_to [@group, article] do  
									%span(class="article-title-box")= article.name
									%p(class="article-box-text")= strip_tags(truncate((article.body),length: 85))

- if can? :manage, :all
	.membership_invite_form
		=form_for :invite, as: :memberships, url: memberships_path(:invite) do |f|
			=f.email_field :email
			=f.hidden_field :group_id, value: params[:id]
			=f.submit "Invite Person"
