.signed-in-header
	.container
		.row-fluid

			
			.span12
				
				.hidden-phone
					&nbsp &nbsp	
					- link_to 'resQuery' , root_path
				
					.pull-right



						- if current_user.role == "admin" 
							=link_to 'Admin', 'admin_path'
						&nbsp &nbsp
						= link_to 'Account Settings' , edit_user_registration_path 
						&nbsp &nbsp
						= link_to 'Log Out', destroy_user_session_path, :method =>"DELETE"
				
				
				
				
				.visible-phone
					&nbsp &nbsp	
					= link_to 'resQuery' , root_path
					&nbsp &nbsp					
					= link_to 'My Groups', root_path
					- if current_user.role == "admin"
						&nbsp &nbsp		 
						=link_to 'Admin', 'admin_path'
					&nbsp &nbsp
					= link_to 'Account Settings' , edit_user_registration_path 
					&nbsp &nbsp
					= link_to 'Log Out', destroy_user_session_path, :method =>"DELETE"
.container.hidden-phone
	.row-fluid
		.span12
			= link_to image_tag('logo.png'), root_path, :class => "signed-in-logo"
				
					
				